.boat-card {
  display: grid;
  grid-template-columns: 30% 55% 15%;
  grid-template-rows: 150px;

  background-color: var(--mediumblue);
  border-radius: 25px;
  color: white;
  box-shadow: 10px 14px 24px -13px rgba(20, 32, 34, 1);
  transition: 0.4s;

  &:hover {
    scale: 1.05;
    transition: 0.2s;
  }

  // Boot-Bild
  img {
    width: 100%;
    object-fit: cover;
    max-height: 150px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
  }

  // Boot-Beschreibung
  .card-text-container {
    padding: 5px 24px;
    text-align: left;

    .boot-name {
      font-family: "Pacifico";
      letter-spacing: 1.5px;
      font-size: 1.5rem;
    }

    .boot-typ {
      margin-block: 5px;
      font-family: "Maven-Pro-Bd";
      font-size: 1.2rem;
    }

    .baujahr {
      margin-block: 5px 20px;
      font-size: 1rem;
    }
  }

  // Action-Container mit Buttons (reservieren, login...)
  .action-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    // Button
    .btn {
      margin-bottom: 0px;
    }

    .btn-icon {
      margin-right: 0px;
      img {
        width: 36px;
      }
    }
  }
}
