nav {
  margin-top: 20px;
  padding: 50px 10px 0 10px;
  width: 80px;
  height: 80vh;
  position: sticky;
  top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--mediumblue);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;

  // Tooltips für Nav-Icons
  .tooltip {
    position: relative;
    display: inline-block;

    &:hover .tooltip-text {
      visibility: visible;
    }

    &:hover .tooltip-text-small {
      visibility: visible;
    }

    .tooltip-text {
      visibility: hidden;
      margin-top: 5px;
      margin-left: -40px;
      padding: 5px 0;
      width: 80px;
      background-color: rgb(255, 255, 255);
      color: var(--darkblue);
      text-align: center;
      border-radius: 6px;
      position: absolute;
      z-index: 100;
      top: 100%;
      left: 50%;
    }

    .tooltip-text-small {
      visibility: hidden;
      margin-top: 5px;
      margin-left: -45px;
      padding: 5px 0;
      width: 90px;
      background-color: rgb(255, 255, 255);
      font-size: 0.9rem;
      color: var(--darkblue);
      text-align: center;
      border-radius: 6px;
      position: absolute;
      z-index: 100;
      top: 100%;
      left: 50%;
    }
  }

  // Navigation - Icons
  // >> Dashboard/Home (Compass)
  .nav-link-dashboard {
    img {
      width: 60px;
    }
  }

  // >> Bootsübersicht (Boot), >> Reservierungen (Kalender)
  .nav-container-middle {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    img {
      width: 60px;
    }
  }
}
