.login-container {
    margin: 0 auto;
    max-width: fit-content;
}

.dashboard-card-container {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;

    .dashboard-card {
        padding: 20px;
        height: 300px;
        background-color: white;
        border: 6px solid var(--mediumblue);
        border-radius: 20px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 25% 55% 20%;

        // Card-Überschrift
        h3 {
            margin: 0;
            padding-bottom: 20px;
            font-family: "Maven-Pro-Bd";
            font-size: 1.5rem;
            text-align: center;
            border-bottom: 3px solid var(--lightpink);
        }

        // Anzahl
        p {
            margin: 0 auto;
            font-family: "Pacifico";
            font-size: 8rem;
            line-height: 1;
        }

        // // Button
        // .btn {
        //     padding-block: 5px;
        //     font-family: "Maven-Pro-Bd";
        //     color: white;
        //     font-size: 1.1rem;
        //     text-align: center;
        //     letter-spacing: 1px;
        //     background-color: var(--mediumpink);
        //     border: 0px solid transparent;
        //     border-radius: 7px;
        //     transition: 0.3s;
        //     text-shadow: 1px 1px rgb(110, 110, 110);

        //     &:hover {
        //         background-color: var(--darkpink);
        //     }
        // }
    }
}
